{% extends 'main/base.html' %}
{% load static %}
{% block content %}


<section style="padding: 50px;">
<!-- <div class="container"> -->
	<div class="row">
		<article class="col-md-2 filter-group mt-4">
			<header class="card-header">
			  
				<h6 class="title">Sort By</h6>
			</header>
			<div class="filter-content " id="collapse_6">
			  <div class="card-body">
				<label class="custom-control custom-radio">
				  <input type="radio" name="sort" class="custom-control-input">
				  <div class="custom-control-label">Newest Catalogs</div>
				</label>
				<label class="custom-control custom-radio">
				  <input type="radio" name="sort" class="custom-control-input">
				  <div class="custom-control-label">Most Popular</div>
				</label>
				<label class="custom-control custom-radio">
				  <input type="radio" name="sort" class="custom-control-input">
				  <div class="custom-control-label">Most Downloaded</div>
				</label>
			  </div>
			</div>
		  </article>
		<main class="col-md-10">

			<header class="border-bottom mb-4 pb-3">
					<div class="form-inline">
						<span class="mr-md-auto mt-2 ml-2">32 Items found </span>
					</div>	
			</header><!-- sect-heading -->
			<div class="row product-row">
				<div class="column-product col-md-4">
                    <figure class="card card-product-grid">
                      <div class="img-wrap-catalogues"> 
                        <img src="{% static 'assets/images/cat3.jpg' %}" class="img-fluid-catalogues">
                        <div class="img-overlay-catalogues">
							<div class="overlay-title-catalogues">
								<!-- Dynamically Display Catalogue Number and Date -->
								<p><strong>Catalogue No:</strong> 131</p>
								<p><strong>Published On:</strong> 12 JAN 2025</p>
							</div>
                        </div>
                      </div> <!-- img-wrap.// -->
                    </figure>
                    <div class="text-center">
                        <button class="button button2">See Catalogue</button>
                    </div>	
                </div> <!-- col.// -->
                <div class="column-product col-md-4">
                    <figure class="card card-product-grid">
                      <div class="img-wrap-catalogues"> 
                        <img src="{% static 'assets/images/cat3.jpg' %}" class="img-fluid-catalogues">
                        <div class="img-overlay-catalogues">
							<div class="overlay-title-catalogues">
								<!-- Dynamically Display Catalogue Number and Date -->
								<p><strong>Catalogue No:</strong> 131</p>
								<p><strong>Published On:</strong> 12 JAN 2025</p>
							</div>
                        </div>
                      </div> <!-- img-wrap.// -->
                    </figure>
                    <div class="text-center">
                        <button class="button button2">See Catalogue</button>
                    </div>	
                </div> <!-- col.// -->
                <div class="column-product col-md-4">
                    <figure class="card card-product-grid">
                      <div class="img-wrap-catalogues"> 
                        <img src="{% static 'assets/images/cat3.jpg' %}" class="img-fluid-catalogues">
                        <div class="img-overlay-catalogues">
							<div class="overlay-title-catalogues">
								<!-- Dynamically Display Catalogue Number and Date -->
								<p><strong>Catalogue No:</strong> 131</p>
								<p><strong>Published On:</strong> 12 JAN 2025</p>
							</div>
                        </div>
                      </div> <!-- img-wrap.// -->
                    </figure>
                    <div class="text-center">
                        <button class="button button2">See Catalogue</button>
                    </div>	
                </div> <!-- col.// -->
                <div class="column-product col-md-4">
                    <figure class="card card-product-grid">
                      <div class="img-wrap-catalogues"> 
                        <img src="{% static 'assets/images/cat3.jpg' %}" class="img-fluid-catalogues">
                        <div class="img-overlay-catalogues">
							<div class="overlay-title-catalogues">
								<!-- Dynamically Display Catalogue Number and Date -->
								<p><strong>Catalogue No:</strong> 131</p>
								<p><strong>Published On:</strong> 12 JAN 2025</p>
							</div>
                        </div>
                      </div> <!-- img-wrap.// -->
                    </figure>
                    <div class="text-center">
                        <button class="button button2">See Catalogue</button>
                    </div>	
                </div> <!-- col.// -->
                <div class="column-product col-md-4">
                    <figure class="card card-product-grid">
                      <div class="img-wrap-catalogues"> 
                        <img src="{% static 'assets/images/cat3.jpg' %}" class="img-fluid-catalogues">
                        <div class="img-overlay-catalogues">
							<div class="overlay-title-catalogues">
								<!-- Dynamically Display Catalogue Number and Date -->
								<p><strong>Catalogue No:</strong> 131</p>
								<p><strong>Published On:</strong> 12 JAN 2025</p>
							</div>
                        </div>
                      </div> <!-- img-wrap.// -->
                    </figure>
                    <div class="text-center">
                        <button class="button button2">See Catalogue</button>
                    </div>	
                </div> <!-- col.// -->
                <div class="column-product col-md-4">
                    <figure class="card card-product-grid">
                      <div class="img-wrap-catalogues"> 
                        <img src="{% static 'assets/images/cat3.jpg' %}" class="img-fluid-catalogues">
                        <div class="img-overlay-catalogues">
							<div class="overlay-title-catalogues">
								<!-- Dynamically Display Catalogue Number and Date -->
								<p><strong>Catalogue No:</strong> 131</p>
								<p><strong>Published On:</strong> 12 JAN 2025</p>
							</div>
                        </div>
                      </div> <!-- img-wrap.// -->
                    </figure>
                    <div class="text-center">
                        <button class="button button2">See Catalogue</button>
                    </div>	
                </div> <!-- col.// -->
                  
                

				

				


				
			</div> <!-- row end.// -->

			<hr>
			<div class="container d-flex justify-content-end">
				<nav class="mt-4" aria-label="Page navigation sample">
					<ul class="pagination">
						<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
						<li class="page-item active"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">Next</a></li>
					</ul>
				</nav>
			</div>

		</main>
	</div>
<!-- </div> -->
</section>


<footer class="bg-dark text-white pt-5">
    <div class="container">
        <div class="row">
            <!-- About Section -->
            <div class="col-md-3">
                <h5 class="mb-4 footer-top-title">About Us</h5>
                <p>We are dedicated to providing the best services and creating memorable experiences. Stay connected and discover more about our journey.</p>
            </div>

            <!-- Quick Links -->
            <div class="col-md-3">
                <h5 class="mb-4 footer-top-title">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white text-decoration-none">Home</a></li>
                    <li><a href="#" class="text-white text-decoration-none">About</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Services</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Blog</a></li>
                    <li><a href="#" class="text-white text-decoration-none">FAQ</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Contact</a></li>
                </ul>
            </div>

            <!-- Services -->
            <div class="col-md-3">
                <h5 class="mb-4 footer-top-title">Our Services</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white text-decoration-none">Web Development</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Graphic Design</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Marketing</a></li>
                    <li><a href="#" class="text-white text-decoration-none">SEO Optimization</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Support</a></li>
                </ul>
            </div>

            <!-- Social Media and Subscribe -->
            <div class="col-md-3 text-center">
                <h5 class="mb-4 footer-top-title">Follow Us</h5>
                <div class="mb-3">
                    <a href="#" class="text-white mx-2"><i class="fa fa-facebook fa-2x"></i></a>
                    <a href="#" class="text-white mx-2"><i class="fa fa-twitter fa-2x"></i></a>
                    <a href="#" class="text-white mx-2"><i class="fa fa-instagram fa-2x"></i></a>
                    <a href="#" class="text-white mx-2"><i class="fa fa-linkedin fa-2x"></i></a>
                    <a href="#" class="text-white mx-2"><i class="fa fa-youtube fa-2x"></i></a>
                </div>
                <h5 class="mt-4 subscrribe-title">Subscribe to Our Newsletter</h5>
                <form class="d-flex mt-2">
                    <div class="input-group" style="border:none; border-bottom: 2px solid white;">
                        <input type="email" class="form-control" placeholder="Enter your email" style="background: transparent; border: none;">
                        <button type="submit" class="btn subscribe-button">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
        <hr class="bg-white">
        <div class="row text-center">
            <div class="col">
                <p class="mb-0">&copy; 2025 Your Company. All Rights Reserved.</p>
                <p class="mb-0"><a href="#" class="text-white text-decoration-none">Privacy Policy</a> | <a href="#" class="text-white text-decoration-none">Terms of Service</a></p>
            </div>
        </div>
    </div>
</footer>


<style>
    .subscribe-button{

        background: transparent;
        color: rgb(255, 255, 255);
    }
    .subscribe-button:hover{

        background: transparent;
        color: black;
    }
    .subscrribe-title ,  .footer-top-title{
        font-weight: bold;
        color: white;
    }

</style>

{% endblock content %}